<!doctype html>
<html lang="en">
<head>
    <title>Curio</title>
    <script type="text/javascript">window.name='index'</script>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="../static/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="../static/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <link href="../static/style.css" rel="stylesheet">
<!--    <link href="../static/SourceCode.woff2" rel="stylesheet">-->
<!--    <link href="../static/Orbitron.woff2" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600|Teko:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700" rel="stylesheet">
 </head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
    <div class="p-2"><a class="navbar-brand" href="https://github.com/jaycrossler/curio">&copy; Curio </a></div>
    <div class="p-2"><a class=nav-link href="https://github.com/jaycrossler/curio" id="subtitle" target="_blank">Control
        Raspberry Pi lights with your Browser<span id="mqtt_status">&nbsp;(·)</span></a>
    </div>
</nav>

<div class="container">

    <div class="accordion" id="accordionExample">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Animation Modes
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <h4>Set overall mode for all animations and colors:</h4>
              <select class="dropdownModeButton btn btn-secondary">
                  <option>Default</option>
              </select>
          </div>

        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Set All Lights to a Color
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

              <div id="color_picker" style="word-wrap: break-word;"></div>
          </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAnim" aria-expanded="true" aria-controls="collapseAnim">
            Animations
          </button>
        </h2>
        <div id="collapseAnim" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

<!-- Animation Input Form -->
<!--<div id="animation_form" style="display:inline-block">-->
<!--<form class="row row-cols-lg-auto g-3 align-items-center" name="add_animation" action="/anim">-->

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="inlineFormSelectStrand">Light Strand</label>
    <select id="inlineFormSelectStrand">
      <option selected value="0">Strand 0 - 40 LEDs</option>
      <option value="1">Strand 1 - 150 LEDs</option>
    </select>
  </div>

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="inlineFormSelectAnim">Animation</label>
    <select id="inlineFormSelectAnim">
      <option value="rainbow">Rainbow</option>
      <option value="wheel">Wheel</option>
      <option value="pulsing" selected>Pulsing</option>
      <option value="warp">Warp</option>
      <option value="blinking">Blinking</option>
      <option value="blinkenlicht">Blinkenlicht</option>
    </select>
  </div>

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="animationColor">Color</label>
    <input type="text" id="animationColor" placeholder="blue" title="Color(s) if animation needs it with colons for variance - 'blue' or '#f00:.2' or '#cafeba' or 'purple and blue:.2'">
  </div>

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="animationModifiers">Modifiers</label>
    <select id="animationModifiers">
      <option value="" selected></option>
      <option value="random" selected>Random</option>
      <option value="centered">Centered</option>
      <option value="cycled">Cycled</option>
    </select>
  </div>

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="animationSpeed">Speed</label>
    <select id="animationSpeed">
      <option value="1">1: Slow</option>
      <option value="2">2: Gentle</option>
      <option value="3" selected>3: Medium</option>
      <option value="4">4: Spritely</option>
      <option value="5">5: Speedy</option>
      <option value="6">6: Fast</option>
    </select>
  </div>

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="specificSizeInputIDStart">Starting LED</label>
    <input type="text" id="specificSizeInputIDStart" placeholder="" style="width:40px" maxlength="3" title="Something like 0 - the LED # that the animation should start at">
  </div>

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="specificSizeInputIDEnd">Ending LED</label>
    <input type="text" id="specificSizeInputIDEnd" placeholder="" style="width:40px" maxlength="3">
  </div>

  <div class="col-12" style="display:inline">
    <label class="col-sm col-form-label col-form-label-sm" for="specificSizeInputIDs">(or) Exact List of LEDs</label>
    <input type="text" id="specificSizeInputIDs" title="Something like 15,16,25,30 - comma separated LED #s">
  </div>

  <div class="col-12" style="display:inline">
    <button type="submit" id="animation_add_button" class="btn btn-primary" style="font-size:1em">Add</button>
  </div>
<!--</form>-->
</div>

<hr/>

<table class="table" id="animation_list">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Process #</th>
      <th scope="col">Started</th>
      <th scope="col">Animation</th>
      <th scope="col">Strand</th>
      <th scope="col">Range</th>
      <th scope="col">[Stop]</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!--              <button class="btn btn-block btn-outline-danger" id="rainbowBtn" type="button">Rainbow</button>-->
<!--              <button class="btn btn-block btn-outline-secondary" id="stopBtn" type="button">Clear All</button>-->

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Status and Logs
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <strong>Settings and configuration will go here.

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="pollServerState" checked>
  <label class="form-check-label" for="pollServerState">
    Check Server Status every few seconds
  </label>
</div>

          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="card">
      <h5 class="card-header">Current Light Strip Status</h5>
      <div class="card-body">
        <h5 class="card-title" id="status">Status: Default Animation Mode</h5>
        <p class="card-text" id="led_results">LEDs</p>
      </div>
    </div>

</div>
</div>
</body>
</html>
